.header-column {
  display: flex;
  background-color: rgba(183, 255, 255, 0.44);
  font-size: large;
}
.header-column div, .list-item div {
  min-width: 160px;
}

.list-item {
  display: flex;
  background-color: rgba(183, 255, 255, 0.44);
}

.clear {
  background-color: rgb(211, 120, 120);
  font-size: larger;
}

.save-hash {
  background-color: rgb(136, 198, 232);
  font-size: larger;
}