@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500&display=swap');

html, input, button {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1em;
  font-weight: 300;
}

h1, h2, h3 {
  margin: 0px;
  padding: 0px;
  font-weight: 300;
}

body {
  margin-right: 10px;
}

/* Overall App Areas */
.header-area {
  font-style: italic;
}
.app-area {
  display: flex;
  margin-top: 10px;
}
.left-panel {
  width: 70%;
  margin-right: 10px;
}
.right-panel {
  width: 30%;
}
.bottom-area {
  margin-top: 10px;
  padding: 0px;
}

/* Add Todo Area */
.new-todo-container {
  display: flex;
  border: 3px solid rgb(73, 201, 109);
  padding: 20px;
}
.input-details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.add-todo {
  padding: 0px 20px;
  margin-left: 5px;
  height: 1.8em;
  background-color: rgb(91, 230, 130);
}
.need-want {
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
  background: linear-gradient(90deg, rgb(81, 255, 72), rgb(0, 238, 255));
  padding: 5px;
  margin: 3px 0px;
  width: 50%;
  max-width: 200px;
}

/* Todo List Area */
.todo-list {
  margin-top: 10px;
  padding: 0px 3px;
  border: 3px solid rgb(100, 218, 190);
}
.todo-row {
  display: flex;
  padding: 2px 4px;
}
.header-row {
  font-weight: 200;
}
.todo-item {
  border-top: 1px solid rgb(179, 179, 179);
}
.todo-item:hover {
  background-color: rgba(0, 0, 0, 0.15);
}
/* There are 3 of these per row */
.todo-row > .boolean-factor {
  min-width: 70px;
  text-align: center;
}
/* There is 1 of these per row */
.todo-row > .complete {
  min-width: 90px;
  display: flex;
  justify-content: center;
}
/* There is 1 of these in the header row */
.erase-todo-spacer {
  min-width: 70px;
}
/* There is 1 of these in the item row */
.todo-row > .erase-todo-container {
  min-width: 70px;
  display: flex;
  justify-content: center;
}
/* There is 1 of these per row */
.todo-row > .description {
  flex-grow: 1;
}
.erase-todo {
  background-color: red;
  color: white;
  align-self: center;
}
.restore-list {
  background-color: rgb(91, 230, 130);
}


/* Right Panel */
.functions, .info {
  background-color: rgb(232, 232, 232);
  /* border: 3px solid rgb(147, 147, 147); */
}

/* Functions Area */
.functions {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.functions button {
  margin: 2px 0px;
}
.login {
  background-color: rgb(71, 173, 228);
}
.resetList {
  background-color: rgb(244, 14, 14);
  color: white;
}
.save-hash {
  background-color: rgb(136, 198, 232);
}

/* Info Area */
.info {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding: 10px;
}
.logged-in-address, .found-list-hash {
  word-wrap: break-word;
  background-color: black;
  margin: 1px;
  border-radius: 2px;
  color: #00ff41;
  font-family: monospace;
  padding: 2px;
}

/* Meditate & Exercise Area */
.oppose-entropy {
  display: flex;
  margin-top: 10px;
}
.meditate {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-grow: 1;
  margin-right: 4p;
  padding: 10px;
  background-color:rgb(162, 249, 255);
}
.exercise {
  flex-grow: 1;
  margin-left: 4px;
  padding: 10px;
  color: rgb(228, 228, 228);
  background-color: rgb(55, 0, 35);
}

/* Statistics */
.stats {
  border: 3px solid rgb(118, 173, 255);
  padding: 10px;
}


